<%= form_for(@boat) do |f| %>
  <label>Boat Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Boat Captain:</label><br>
  <%= f.text_field :captain %><br>

  <label>Boat Classifications:</label><br>
  <%= f.text_field :classifications %><br>

   <label>Boat Length:</label><br>
  <%= f.text_field :length %><br>

  <%= f.submit %>
<% end %>
